# Twitter/X Account Credentials
# Duplicate and rename to .env
# Add 5-10 accounts minimum for anti-ban protection

ACCOUNT1_USER=email@gmail.com
ACCOUNT1_PASS=password
ACCOUNT1_EMAIL_RECOVERY=recovery@gmail.com
ACCOUNT1_EMAIL_PASS=recovery_pass

ACCOUNT2_USER=email2@gmail.com
ACCOUNT2_PASS=password2
ACCOUNT2_EMAIL_RECOVERY=recovery2@gmail.com
ACCOUNT2_EMAIL_PASS=recovery_pass2

ACCOUNT3_USER=email3@gmail.com
ACCOUNT3_PASS=password3
ACCOUNT3_EMAIL_RECOVERY=recovery3@gmail.com
ACCOUNT3_EMAIL_PASS=recovery_pass3